[submodule "thirdparty/libusb"]
	path = thirdparty/libusb
	url = https://github.com/libusb/libusb.git
[submodule "thirdparty/hidapi"]
	path = thirdparty/hidapi
	url = https://github.com/signal11/hidapi.git
[submodule "thirdparty/PS3EYEDriver"]
	path = thirdparty/PS3EYEDriver
	url = https://github.com/inspirit/PS3EYEDriver.git
[submodule "thirdparty/type_index"]
	path = thirdparty/type_index
	url = https://github.com/boostorg/type_index.git
[submodule "thirdparty/Boost.Application"]
	path = thirdparty/Boost.Application
	url = https://github.com/retf/Boost.Application.git
	branch = 4.8
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/google/protobuf.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/SDL2"]
	path = thirdparty/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "thirdparty/openvr"]
	path = thirdparty/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "thirdparty/kalman"]
	path = thirdparty/kalman
	url = https://github.com/mherb/kalman.git
[submodule "thirdparty/libstem_gamepad"]
	path = thirdparty/libstem_gamepad
	url = https://github.com/ThemsAllTook/libstem_gamepad.git
