[submodule "thirdparty/hidapi"]
	path = thirdparty/hidapi
	url = https://github.com/signal11/hidapi.git
[submodule "thirdparty/PS3EYEDriver"]
	path = thirdparty/PS3EYEDriver
	url = https://github.com/zelmon64/PS3EYEDriver.git
	branch = set_resolution
[submodule "thirdparty/type_index"]
	path = thirdparty/type_index
	url = https://github.com/boostorg/type_index.git
[submodule "thirdparty/Boost.Application"]
	path = thirdparty/Boost.Application
	url = https://github.com/retf/Boost.Application.git
	branch = 4.8
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/google/protobuf.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/kalman"]
	path = thirdparty/kalman
	url = https://github.com/mherb/kalman.git
[submodule "thirdparty/libstem_gamepad"]
	path = thirdparty/libstem_gamepad
	url = https://github.com/psmoveservice/libstem_gamepad.git
[submodule "thirdparty/lockfreequeue"]
	path = thirdparty/lockfreequeue
	url = https://github.com/cameron314/readerwriterqueue.git
